@require init

a
  color: color.primary

body
  align-items: center
  background: color.bg
  color: color.fg
  display: flex
  flex-flow: column nowrap
  font-family: font.base
  font-size: 1em
  justify-content: center
  padding 4ex 2em

body, html
  margin: 0

html
  font-size: font.size
  padding: 0
