@require init

a
  color: color.primary

body
  background: color.bg
  color: color.fg
  font-family: font.base
  font-size: 1em
  padding 4ex 2em

body, html
  margin: 0

html
  font-size: font.size
  padding: 0
