colors = {
  bg: #fff
  button-hover: #36c
  gray: #ccc
  gray-dark: #999
  gray-light: #eee
  fg: #000
  link: lightblue // #add8e6
  primary: #69f
}

font = {
  base: sans-serif
  size: 16px
}

controls-height = 6ex
padding-h = 2em
