colors = {
  bg: #fff
  gray: #ccc
  gray-dark: #999
  gray-light: #eee
  fg: #000
  primary: #69f
}

colors['gray-dark'] = darken(colors.gray, 20%)
colors['gray-light'] = lighten(colors.gray, 20%)
colors['link'] = lighten(colors.primary, 30%)
colors['primary-darker'] = darken(colors.primary, 20%)

colors['button-hover'] = colors.button-hover

font = {
  base: sans-serif
  size: 16px
}

controls-height = 3rem
max-width = 50rem
padding-h = 2em
